/* Gradient Border Button  */
.gradient-button {
  display: inline-block;
  padding: 0.5rem 1.5635rem;
  font-size: 0.875rem;
  color: #fff;
  background: linear-gradient(#11111B, #11111B) padding-box,
              linear-gradient(90deg, #B95DFE, #E6C6FF) border-box;
  border: 1px solid transparent;
  border-radius: 50px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.gradient-button:hover {
  background: linear-gradient(90deg, #B95DFE, #E6C6FF);
  color: #0b0b13;
}

/* Product Section */
.crypto-products {
  position: relative;
}

.product-card-sakura,
.product-card-komorebi,
.product-card-yugen {
  position: absolute;
  top: 20%;
  left: 10%;
  width: 4.375rem;
  height: 5rem;
}

.product-info-sakura,
.product-info-komorebi,
.product-info-yugen {
  position: absolute;
  top: 20%;
  left: 50%;
}
