.crypto-section {
  position: relative;
  overflow: hidden;

  &::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    transform: translate(-80%, -50%);
    width: 50%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background: #B95DFE;
    filter: blur(100px);
    opacity: 0.25;
    z-index: 0;
    pointer-events: none;
  }

  .container {
    position: relative;
    z-index: 1;
    background-image: url('../images/crypto-frame.svg');
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
  }
}


.crypto-image {
  width: 38.6875rem;
}


@media (max-width: 1200px) {
  .crypto-section .container {
    background-image: none !important;
  }
}


@media (max-width: 1400px) {
  .crypto-section h2 {
    font-size: 3.4375rem !important;
  }

  .crypto-section .fs-8 {
    font-size: 1.125rem !important;
  }
}


@media (max-width: 768px) {
  .crypto-section h2 {
    font-size: 2.8125rem !important;
  }

  .crypto-section .fs-8 {
    font-size: 1rem !important;
  }
}

@media (max-width: 576px) {
  .crypto-section h2 {
    font-size: 2.1875rem !important;
  }

  .crypto-section .fs-8 {
    font-size: 0.6875rem !important;
  }


}