.embark-section {
  background-image: url('../images/embark_bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 700px; 
}


.image-large {
  width: auto;
  height: 500px;
  padding-top: 2rem;
  }